@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:400,700);

$body-font: 'Roboto Slab', serif;
$body-font-bold: 700;

$header-font: 'Montserrat', sans-serif;

h1,h2,h3,h4,h5,h6{
  font-family: $header-font;
  font-weight: 400;
  color: $primary-color;
}

body, p{
  font-family: $body-font;
}

b, strong{
  font-weight: $body-font-bold;
}
